.top-nav {
  margin: auto;
  padding: 0;
  list-style: none;
}

.footer{
  margin: auto;
  align-items: center;
  padding: 0;
}


.title{
  margin-left: 50%;
  margin-bottom: 20px;
}

.search-form{
  margin-left: 50%;
  margin-bottom: 15px;
}

.search-button{
  border-radius: 10%;
}
.search-input{
  margin-right: 5px;
}